<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Bosque Bahual</title>
    </head>
    <body>
        <i class="fa-sharp fa-solid fa-trees" style="color: #38571a;"></i>
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <div>
            <img src="Image.jpeg" />
        </div>
        <div class="container">
            <div class="box">
                <form> 
                    <h2>Contacto</h2>
                    <label>Nombre</label>
                    <input type="text" id="Nombre" name="Nombre" placeholder="Nombre" />
                    <label>Apellido</label>
                    <input type="text" id="apellido" name="Apellido" placeholder="Apellido" />
                    <label>Mensaje</label>
                    <textarea></textarea>
                    <input type="submit" value="Aceptar" />
                </form>
            </div>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>